/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

/* Music Player */
.player {
    background: #fff;
    text-align: center;
    padding: 25px 30px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
